.title-large {
  margin: 0;
  font-size: 3em;
  font-weight: 400;
}

.divider { border: 1px solid gray; }
.divider-full { width: 90%; }
.divider-half { width: 40%; }

.title-medium {
  font-weight: 400;
  font-size: 2em;
  margin: 0;
}

/* Background Colors */
.background-lightblue { background-color: #d6e8fa }
.background-white { background-color: #fff }
