.title-large {
  margin: 0;
  font-size: 5em;
  font-weight: 400;
}

.title-medium {
  font-weight: 400;
  font-size: 2em;
  margin: 0;
}

.background-lightblue {
  background-color: rgba(214, 232, 250, 1);
}
