/* Resets and font setting */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.top {
  position: fixed;
  top: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url("/assets/img/background-header.jpg");
}

header {
  margin-top: 10%;
}

.title {
  margin: 0;
  font-size: 5em;
  font-weight: 400;
}

.top .divider {
  width: 40%;
  border: 1px solid gray;
}

.subtitle {
  font-weight: 400;
  font-size: 2em;
  margin: 0;
}

.down-arrow-wrap {
  width: 200px;
  height: 100px;
  margin: 0 auto;

  background-color: rgb(52, 98, 179);
}

.down-arrow {
  background: url("assets/img/down-arrow-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 100px;
  margin: inherit;
}

main {
  position: absolute;
  background: transparent;
  width: 100%;
  top: 84.5%;
}
