/* Resets and font setting */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.top {
  position: fixed;
  top: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url("/assets/img/background-header.jpg");
}

header {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}


.down-arrow-wrap {
  position: absolute;
  left: 50%;
  margin-left: -100px !important;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  bottom: 0;
  background-color: rgb(52, 98, 179);
}

.down-arrow {
  background: url("assets/img/down-arrow-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 100px;
  margin: 0 auto;
}

main {
  position: absolute;
  background: transparent;
  width: 100%;
  top: 100%;
  left: 0;
}

main section.section {
  padding: 50px;
  text-align: center;
}
